body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: rgb(26, 26, 29);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  color: white;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: #A64D79
}

.highlight-text{
  color: #A64D79
}

.unique{
  color: #6A1E55
}

h2{
  color: #A64D79;
} 

.left-card{
  width: 45%;
  float:left;
}

.right-card{
  width: 45%;
  float:right;
}

.left-card>img{
  width: 100%;
  height: 100%;
  border-radius: 10%;

}

.right-card>img{
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

@media (max-width: 680px){
  .logo{
    height: 20%;
    width: 50%
  }

  .card img{
    width: 100%;
    height: 50%;
    display: inline;
  }
  
  .card{
    display: block;
    width: 100%;
  }

  h1{
    font-size: 2.5rem;
  }

}






